*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face{
    font-family: 'SignikaNegative';
    src: url(Signika_Negative/static/SignikaNegative-VariableFont_wght.ttf);
}

header{
    background-image: url(imagepre.jpg);
    height: 710px;
    width: 100%;
    background-size: 100%;
    background-attachment: fixed;
    text-align: center;
    margin: auto;
    padding: 50px;
}

.Efect{
    height: 100%;
    width: 100%;
    background-color:(rgb#0e0202);
}

.Tema{
    margin-left: 22px;
    padding: 32px;
    color: rgb(79, 64, 219);
    font-size: 38px;
    font-family: Verdana;
    font-family: 'SignikaNegative';
}

ul{
    width: 100%;
    height: 80px;
    padding: 25px 35px;
    margin: 0 auto;
}

.separac{
    padding: 12px;
    margin-top: 24px;
    text-decoration: none;
    font-size: 35px;
    color: aliceblue;
    background-color: #0e0333;
    border-radius: 17px;
    font-family: 'SignikaNegative';
    display: flexbox;
}

.Teminicial{
    margin-top: 72px;
    margin: auto;
    padding: 97px;
    text-align: center;
    font-family: "Fugaz One", serif;
    color: #0e0333;
}

#Invitación{
    margin: auto;
    text-align: center;
    width: 78%;
    height: 710px;
    background-size: 100%;
    display: flex;
    box-shadow: 14px 14px 0 0 #0e0333;
}

.PIe{
    width: 100%;
    height: 240px;
    background-color: #0e0333;
    margin: 36px 0 0px 0;
}

#telefono{
    margin: auto;
    margin-right: 28px;
    text-align: right;
    padding: 24px;
    color: #f3f3f8;
    font-family: calibri;
    font-size: 18px;
}

#Ubicapie{
    margin: auto;
    margin-right: 28px;
    text-align: right;
    padding: 19px;
    color: #f3f3f8;
    font-family: calibri;
}

#Terminos{
    margin: auto;
    margin-left: 27px;
    text-align: left;
    padding: 20px;
    color: #f3f3f8;
    font-family: calibri;
    text-decoration: none;
}