h3{
    color: aquamarine;
}

input{
    width: 90%;
}

form{
    width: 250px;
}

.Formulario{
    background-color: bisque;
    padding: 25px;
}

.form_input{
    padding: 10px;
}